body {
    background-color: lightcoral;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.xmas-container {
    background-color: #CC231E;
    width: 35%;
    text-align: center;
    padding: 0.4%;
    padding-bottom: 1%;
    color: white;
    margin: auto;
}

img {
    width: 80%;
    margin-bottom: 10px;
    height: auto;
}

button {
    width: 80%;
    background-color: lightcoral;
    border: none;
    padding: 1%;
    margin: 5px;
}